<!--{% if False %}-->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!--{% endif %}-->
<style type="text/css">.red {color:#e20413;} .push-bottom {margin-bottom:1em;} * {margin:0; padding:0;} table {text-align: center; background-color: #77BAD1;} #wrapper {margin:0 1%; width:98%; font-family:verdana, sans-serif; text-align:left; color:#000; font-size:16px; line-height:1.5;} #mocode {float:right; font-size:10px} #header {clear:right; background-color:#fff; color:#000; padding: 1%; width:98%;} #header img {width:100%; max-width:637px; margin-right:5%;} #contacts {display: inline-block; font-size:14px;} #onoff {font-size:11px;} #description, #policies {text-align:justify;} .section {background-color:#fff; padding:1%; width:98%; font-size:14px;} #menu {background-color:#fff; padding:1%; width:98%; font-size:14px; margin-bottom: 1%;} #menu a, #contacts a {color:#000; text-decoration:none;} #menu a {margin-right:1em; color:#ef1827; font-weight: bold;} #menu a:hover {text-decoration:underline;} @media screen and (max-width:600px) { #menu a {display:block;}}</style>
<table cellpadding="0" cellspacing="0"><tbody><tr><td>
<div id="wrapper">
<span id="mocode">{{mo_code}}</span>
<div id="header" class="push-bottom">
<img src="http://morelli.ftpimg.eu/loghi/morelli.jpg"  alt="Parafarmacia Dr. Morelli"><br>
<span id="contacts">
	<a href="mailto:{{email}}" target="_blank">{{email}}</a>
	- Tel. {{phone}}</span>
</div>
<div id="casting" class="push-bottom"></div>
<div id="title" class="push-bottom">{{title}}</div>
<div id="description" class="push-bottom">{{description}}</div>
<div id="policies">
<div class="section push-bottom">
<h3>Acquisti con fattura</h3>
<p class="push-bottom">Se ha comprato come azienda può richiedere la fattura scrivendomi un email o un messaggio ebay prima dell'acquisto o appena dopo, la fattura viaggerà assieme alla merce. L'acquirente con Partita IVA non può far valere il diritto di recesso valido per i consumatori privati, può tuttavia sostituire la merce.</p>
</div>
<div class="section push-bottom">
<h3>Pagamento e Spedizione e Recesso</h3>
<p>Accetto pagamenti con PayPal e spedisco con Poste Italiane (Raccomandata o Pacco celere 3). L'acquirente può recedere dal contratto d'acquisto senza indicarne le ragioni, comunicandomelo via email entro 14 gg dal ricevimento dei prodotti purchè non siano stati aperti e siano integri nella loro confezione originale. Le spese per la restituzione dei prodotti sono a carico dell'acquirente.</p> 
</div>

</div>
<div id="menu">
<a href="http://stores.ebay.it/newpharmaweb">Visita il mio Negozio Ebay</a>
</div>
</div></td></tr></tbody></table>